
<div class="container-fluid">
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 row">
    
    <div class=" pt-5" >
      <h2>Cancelled Orders</h2>
      {{#if cancel_orders}}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>customer</th>
            <th>phone</th>
            <th>Address</th>
            <th>order id</th>
            <th>order date</th>
            <th>payment method</th>
            <th>payment status</th>
            <th>shipment status</th>
            <th>ship address</th>
          </tr>
        </thead>
        <tbody>
          {{#each cancel_orders}}
          <tr>
            <td>{{this.deliveryDetails.name}}</td>
            <td>{{this.deliveryDetails.phone}}</td>
            <th>{{this.deliveryDetails.address}}</th>
            <td>{{this._id}}</td>
            <td>{{this.date}}</td>
            <td>{{this.paymentMethod}}</td>
            <td>{{this.payment_status}}</td>
            <td>{{this.shipment_status}}</td>
            <th>
              <a id="confirm-id-{{this._id}}" href="/admin/shipCancelOrder/{{this._id}}"><button class="btn btn-success"
                  onclick="return confirm('are you sure ?')"> ship order</button></a>
            </th>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{/if}}
    </div>
  </main>
</div>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>
