<link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<div class="container-fluid">
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Orders</h1>
          </div>

          <div class="table-responsive">
            <table class="table table-striped table-sm" id="myTable">
              <thead>
                <tr>
                  <th>customer</th>
                  <th>phone</th>
                  <th>Address</th>
                  <th>order id</th>
                  <th>order date</th>
                  <th>payment</th>
                  <th>status</th>
                  <th>shipment</th>

                </tr>
              </thead>
              <tbody>
                {{#each orders}}
                <tr>
                  <td>{{this.deliveryDetails.name}}</td>
                  <td>{{this.deliveryDetails.phone}}</td>
                  <th>{{this.deliveryDetails.address}}</th>
                  <td>{{this._id}}</td>
                  <td>{{this.date}}</td>
                  <td>{{this.paymentMethod}}</td>
                  <td>{{this.status}}</td>
                  <th><button class="btn btn-primary">confirm</button></th>
                </tr>
                {{/each}}
                
              </tbody>
            </table>
          </div>
        </main>
      </div>