<style>
  .container {
    max-width: 960px;
  }

  .border-top {
    border-top: 1px solid #e5e5e5;
  }

  .border-bottom {
    border-bottom: 1px solid #e5e5e5;
  }

  .border-top-gray {
    border-top-color: #adb5bd;
  }

  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }

  .lh-condensed {
    line-height: 1.25;
  }

  #paymentMethod-error {
    display: none !important;
  }
</style>

<body class="bg-light pb-5">

  <div class="container pt-5">
    <div class="py-5 text-center">
      {{!-- <img class="d-block mx-auto mb-4" src="" alt="" width="72" height="72"> --}}
      <h2>Checkout</h2>
      <p class="lead"></p>
    </div>



    <div class="row">

      <div class="col-md-5 order-md-2 mb-4">
        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Coupon code</div>
        <div class="p-4">
          <p class="font-italic mb-4">If you have a coupon code, please enter it in the box below</p>
          <div class="input-group mb-4 border rounded-pill p-2">
            <input type="text" placeholder="Apply coupon" id="coupon-input" aria-describedby="button-addon3"
              class="form-control border-0">
            <div class="input-group-append border-0">
              <button id="button-addon3" type="button" class="btn btn-dark btn-sm rounded-pill"><i
                  class="fa fa-gift mr-2"></i>Apply coupon</button>
            </div>
          </div>
          <p id="invalid-coupon" style="display: none; color:crimson; margin-left:1rem;">Invalid coupon</p>

        </div>
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">{{cartCount}}</span>
        </h4>
        <ul class="list-group mb-3">
          {{#each products}}
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">{{this.product.product}}</h6>
              <small class="text-muted">{{this.product.description}}</small>
            </div>
            <span class="text-muted">₹. {{this.product.price}}</span>
          </li>
          {{/each}}
          <li id="coupon-li" class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">coupen off</h6>
              <small class="text-muted"></small>
            </div>
            <span>-₹.<span id="coupen-span" class="text-muted"></span></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <strong>Total </strong>
            <strong id="after-total">₹. {{totalPrice}}</strong>
          </li>
        </ul>

      </div>
      <div class="col-md-7 order-md-1">

        <h4 class="mb-3">Billing address</h4>
        {{#each address}}
        <div class="row">
          <div class="col-sm-10">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Name: {{this.name}}</h6>
                <p class="card-text">Email: {{this.email}}</p><br>
                <p class="card-text">Address: {{this.address}}</p><br>
                <p class="card-text">Phone: {{this.phone}}</p><br>
                <p class="card-text">pin: {{this.pin}}</p><br>
                <button onclick="useAddress('{{this._id}}')" class="btn btn-dark">Deliver to this address</button>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        <hr>
        <button class="btn btn-sm" style="background-color: #abb;display: none;" id="form-hide-btn"
          onclick="showForm()">Deliver To Another address</button>
        {{!-- <hr> --}}
        <form class="needs-validation" id="checkout-form" novalidate>
          <div id="form-hide-div">
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="firstName">Full Name</label>
                <input type="text" class="form-control" name="name" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
            </div>


            <div class="mb-3">
              <label for="email">Email <span class="text-muted"></span></label>
              <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com" required>
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="mb-3">
              <label for="address">Address</label>
              <textarea type="textarea" class="form-control" name="address" id="address" placeholder="1234 Main St"
                required></textarea>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="mobile">Mobile</label>
                <input type="text" class="form-control" name="mobile" id="mobile" required>
                <div class="invalid-feedback">
                  Please enter your mobile number.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="zip">Pin code</label>
                <input type="number" class="form-control" name="pin" id="zip" placeholder="" required>
                <div class="invalid-feedback">
                  pin code required.
                </div>
              </div>
            </div>
            <div class="">
              <input class="form-check-input" type="checkbox" name="save-address" value="address" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                save this address
              </label>
            </div>

            <hr class="mb-4">
          </div>
          <h4 class="mb-3">Payment</h4>

          <div class="d-block my-3">
            <input required type="radio" id="cod" name="paymentMethod" value="COD" checked>
            <label for="male">COD</label><br>
            <input type="radio" id="online" name="paymentMethod" value="Razorpay">
            <label for="female">Pay with Razorpay</label><br>
            <input type="radio" name="paymentMethod" value="paypal">
            <label>Pay with Paypal</label>
            <div id="paypal-button-container" style="width: 100%;"></div>
          </div>
          <input type="text" name="userId" value="{{user._id}}" hidden>

          <hr class="mb-4">
          <div id="place-order-id"><button class="btn btn-dark btn-md btn-block" id="checkout-button" type="submit"
              style="border-radius: 2.25rem;height:50px; font-size: 20px;font-weight: 600;">Place Your Order</button>
          </div>
        </form>
      </div>
    </div>

  </div>

  <script>
    $('#button-addon3').click(function () {
      let coupon_code = $('#coupon-input').val();
      $.ajax({
        url: '/applyCoupon',
        method: 'post',
        data: {
          'coupon_code': coupon_code
        },
        success: (response) => {
          
          if (response.status) {
            let off = response.result;
            $('#invalid-coupon').hide();
            $('#coupon-li').show();
            $('#coupen-span').html(off);
            $('#after-total').html("₹." + response.discount)
          }
          else {
            $('#coupen-span').html('');
            $('#invalid-coupon').show();
            $('#after-total').html("₹. " + response.total)
          }
        }
      })
    })
  </script>