
<!--Section: Block Content-->
<section class="mb-5 container" style="margin-top: 10rem;background-color: #f1f5f9;">

  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0">

      <div id="mdb-lightbox-ui"></div>

      <div class="mdb-lightbox">

        <div class="row product-gallery mx-1">

          <div class="col-12 mb-0">
            <figure class="view overlay rounded z-depth-1 main-img" style="margin: 15px 19px 1rem;">
              <a href=""
                data-size="710x823">
                <img src="/product-images/{{product._id}}.jpg"
                  class="img-fluid z-depth-1" height="240px" width="240px">
              </a>
            </figure>
          </div>
          
        </div>

      </div>

    </div>
    <div class="col-md-6">
    <hr>
      <h5>{{product.product}}</h5>
      <p class="mb-2 text-muted text-uppercase small">watch</p>
      <p><span class="mr-1"><strong>Rs. {{product.price}}</strong></span></p>
      <p class="pt-1">{{product.description}}</p>
      {{!-- <div class="table-responsive">
        <table class="table table-sm table-borderless mb-0">
          <tbody>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
              <td>Shirt 5407X</td>
            </tr>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Color</strong></th>
              <td>Black</td>
            </tr>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Delivery</strong></th>
              <td>USA, Europe</td>
            </tr>
          </tbody>
        </table>
      </div> --}}
      <hr>
      <div class="table-responsive mb-2">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              <td class="pl-0 pb-0 w-25">Quantity</td>
            </tr>
            <tr>
              <td class="pl-0">
                <div class="def-number-input number-input safari_only mb-0">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                    class="minus">-</button>
                  <input class="quantity" min="1" name="quantity" value="1" type="number" style="width:13%">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                    class="plus">+</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="button" class="btn btn-dark btn-md mr-1 mb-2">Buy now</button>
      <button type="button" class="btn btn-light btn-md mr-1 mb-2" onclick="addToCart('{{product._id}}')"><i
          class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
    </div>
  </div>

</section>
<!--Section: Block Content-->